In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Carga desde un archivo .csv sin índice
data = pd.read_csv('Bangkok_ValoresNulos.csv', encoding='latin')
data.head(5)

In [ ]:
data.info()

In [9]:
pd.options.display.max_rows = None

In [ ]:
#Creo 2 dataframe para poder procesar los outliers
# cuantitativas= data1.iloc[ : , 1:23 ]
# cualitativas= data1.iloc[ : , [0] ]

#Eliminar un signo de una columna
# Inmuebles['Columna']=Inmuebles['Columna'].str.replace('%', '')

#Analizar categorias de una columna
# df6 = data2.groupby(['Tipo'])['Tipo'].count()
# df6

#Filtro por columnas no consecutivas
# filtro3=df.iloc[ : ,  [1,4,5]]    

#Filtro por columnas consecutivas
# filtro3=df.iloc[ : , 1:3] 

# Sustituir valores nulos por un string en  concreto
# data3["Fecha Venta"] =data3["Fecha Venta"].fillna("2030-06-19 00:00:00")

In [ ]:
#Eliminar columnas innecesarias
#axis = 1 para columnas
#axis = 0 para filas

#data2=data.drop(['0'], axis=1)
#data2

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

In [5]:
#Realizamos una copia del dataframe
data3=data.copy()

In [ ]:
#Sustituir valores nulos por un valor numérico en  concreto
data["host_response_time"]= data["host_response_time"].fillna('No responde')
data

In [ ]:
#Sustituir valores nulos por un valor alfanumérico en  concreto
data["host_location"]= data["host_location"].fillna('No info')
data

In [10]:
#Eliminar un signo de una columna
data['host_response_rate']=data['host_response_rate'].str.replace('%', '')
data['host_acceptance_rate']=data['host_acceptance_rate'].str.replace('%', '')

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto
data["host_response_rate"]= data["host_response_rate"].fillna(0)
data["host_acceptance_rate"]= data["host_acceptance_rate"].fillna(0)
data

In [13]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por un string en  concreto
data["host_is_superhost"] =data["host_is_superhost"].fillna("f")

In [19]:
#Eliminar un signo de una columna
data['price']=data['price'].str.replace('$', '')
data['price']=data['price'].str.replace(',', '')

In [ ]:
data['price'].head()

In [ ]:
#Conversión de tipo de dato de columna de tipo Object a Float
data['price']= data['price'].astype(float)

In [ ]:
#Analizar categorias de una columna
data2 = data.groupby(['bathrooms'])['bathrooms'].count()
data2

In [9]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data3["Superficie"]=data3["Superficie"].fillna(round(data2["Superficie"].mean(),1))

In [14]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

id                                0
host_since                        0
host_location                     0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
host_is_superhost                 0
host_has_profile_pic              0
host_identity_verified            0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                      4962
bathrooms_text                  124
bedrooms                       1299
beds                           4984
amenities                         0
price                          4921
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
has_availability               2242
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
number_of_reviews_ltm             0
number_of_reviews_l30d            0
first_review                   8939
last_review                    8939
review_scores_rating           8939
review_scores_accuracy         8940
review_scores_cleanliness      8941
review_scores_checkin          8945
review_scores_communication    8941
review_scores_location         8946
review_scores_value            8947
instant_bookable                  0
reviews_per_month              8939
dtype: int64

In [11]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].median(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto
data3["bathrooms"]= data3["bathrooms"].fillna(0)
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto
data3["bedrooms"]= data3["bedrooms"].fillna(0)
data3

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto
data3["beds"]= data3["beds"].fillna(0)
data3

In [13]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

id                                 0
name                               0
description                      954
neighborhood_overview          14919
host_since                         0
host_location                   6148
host_response_time              4894
host_response_rate              4894
host_acceptance_rate            4348
host_is_superhost                  0
host_has_profile_pic               0
host_identity_verified             0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                          0
bathrooms_text                   124
bedrooms                           0
beds                               0
amenities                          0
price                           4921
minimum_nights                     0
maximum_nights                     0
minimum_minimum_nights             0
maximum_minimum_nights             0
minimum_maximum_nights             0
maximum_maximum_nights             0
minimum_nights_avg_ntm             0
maximum_nights_avg_ntm             0
has_availability                2242
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
first_review                    8939
last_review                     8939
review_scores_rating            8939
review_scores_accuracy          8940
review_scores_cleanliness       8941
review_scores_checkin           8945
review_scores_communication     8941
review_scores_location          8946
review_scores_value             8947
instant_bookable                   0
reviews_per_month               8939
dtype: int64

In [ ]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data3["Tipo"] =data3["Tipo"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sexto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data3["Operación"] =data3["Operación"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
data3["Provincia"] =data3["Provincia"].fillna(method="bfill")
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data3["Vendedor"] =data3["Vendedor"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum().sum()
valores_nulos

**Método de Eliminación de valores nulos**

In [ ]:
#Realizamos una copia del dataframe
data4=data2.copy()
data4

In [ ]:
#Eliminamos filas con nulos
#No se agrega nada para eliminar filas y 1 para eliminar columnas
data4= data2.dropna()
data4

In [ ]:
#Corroboramos valores nulos
valores_nulos=data4.isnull().sum().sum()
valores_nulos

**Comparamos DataFrame3(Sustitución) y Dataframe4(Eliminación)**

In [ ]:
data3.info()

In [ ]:
data4.info()

In [31]:
#Convertir DataFrame a CSV
data3.to_csv("inmuebles_sin_nulos.csv")